@use "variables" as *;

h1 {
  font-size: $font-size-xxl;
  line-height: $line-height-xxl;
}
h2 {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}
h3 {
  font-size: $font-size-l;
  line-height: 1.1;
}
h4 {
  font-size: $font-size-m;
  line-height: 1.1;
}
h5 {
  font-size: $font-size-s;
  line-height: 1.4;
  font-weight: 700;
}
h6 {
  font-size: $font-size-xs;
  line-height: 1.1;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  color: #333;
  font-weight: 600;
}
p {
  font-size: $font-size-s;
  line-height: 1.2;
}

.btn-submit {
  width: 30rem;
}

.active {
  color: $color-primary-dark;
}

.disactive {
  color: #b8b8b8;
}

.img-circle {
  width: 8rem;
  border-radius: 50%;
}

.row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.ant-form-item {
  width: 100%;
}

.ant-picker {
  width: 100%;
  border-radius: $border-radius;
}

.ant-form-item-label > label {
  width: 100% !important;
}

.ant-input-number {
  border-radius: $border-radius;
  width: 100%;
}

.ant-btn {
  border-radius: $border-radius;
  font-weight: 500;
}

.ant-input,
.ant-select-selector {
  border-radius: $border-radius;
  padding: 4px 2rem;
}

.ant-form-item-label {
  padding-bottom: 4px !important;
}

.non_cursor {
  cursor: none;
}

.section {
  margin: 9.6rem 0;
  padding: 3%;
}

.active {
  color: $color-primary !important;
}

.flash-bg {
  width: 50%;
  height: 50%;
  top: 25%;
  right: 25%;
  position: absolute;
  background: radial-gradient(
    44.9% 44.9% at 45.44% 43.6%,
    rgba(192, 255, 66, 0.1) 12.5%,
    rgba(192, 255, 66, 0) 85%
  );
}

.btn-primary {
  font-size: 1.8rem;
  background-color: $color-primary;
  color: $color-black;
  font-weight: 600;
  padding: 1rem 4rem;
  border-radius: $border-radius-l;
  display: inline-block;
  border: none;
  cursor: pointer;

  transition: all 0.3s;
  &:hover {
    background-color: $color-primary-dark;
  }
}

.btn-secondary {
  font-size: 1.4rem;
  background-color: $color-black;
  color: $color-primary;
  padding: 1rem 4rem;
  border-radius: $border-radius-l;
  display: inline-block;

  transition: all 0.3s;
  &:hover {
    background-color: $color-primary-dark;
    color: #000;
  }
}
